/* Estilos existentes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2;
    color: #333;
}

header {
    background-color: #ff66b2;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff3399;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ff66b2;
}

main {
    padding: 20px;
}

h2 {
    color: #ff3399;
}

article {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o gráfico */
#violenceChart {
    max-width: 600px;
    margin: 0 auto;
}
